* {
    margin: 0;
    padding: 0;
    font-family: Lobster;
}


/* Estilos del header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
    background-color: #8E3E63;
}

nav {
    margin: 10px;
}

nav a {
    margin 10px;
    padding: 7px;
    text-decoration: none;
    font-size: 20px;
    color: #F6FAB9;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 2px 2px 4px #000;
    margin: 5px;
}

/* Estilos del main */

