* {
    margin: 0;
    padding: 0;
    font-family: Lobster;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vh;
    background-color: #8E3E63;
}

nav {
    margin: 10px;
}

nav a {
    
}
